div {
  border-style: solid;
  border-width: thin;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#header {
  display:  flex;
  position: relative;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  border-bottom-style: solid;
  border-color: black;
  padding-bottom: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-size: 40px;
  padding-left: 10px;
  font-family: Garamond, serif;
  }

#logo {
  display: flex;
  align-items: center;
}

.nav, li{
  display: inline-flex;
  padding: 10px;
}

ul {
  padding-left: 0px;
}

a {
  color: black;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: springgreen;
  justify-content: space-between;
}

.column-large {
  display: flex;
  flex-direction: column;
  width: 630px;
  border-style: solid;
}

.column-medium {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-style: solid;
}

.column-small {
  display: flex;
  flex-direction: column;
  width: 240px;
  border-style: solid;

}

.main-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/img-story-main.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.main-headline, img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backwards {
  background-image: url("./images/img-story-2.PNG");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
}

.research {
  background-image: url("./images/img-story-3.PNG");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
}

.orca, .burger {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.cats {
  text-align: center;
  background-image: url("./images/img-story-1.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}
